<div class="container">
  <div rtl>
    <h1 class="main-heading">{{ 'stms.patients.title' | translate }}</h1>
    <div class="actions">
      <button (click)="getPatients()"
              [disabled]="patientsLoading$ | async"
              class="actions-main" color="primary" mat-raised-button>
        {{ 'stms.patients.get-patients' | translate }}
      </button>
      <st-patients-grid [dataSource]="patientsList$ | async"
                        [loading]="patientsLoading$ | async"></st-patients-grid>
      <!--
        Endpoint to fetch data: https://api.mocki.io/v2/51597ef3
       -->
    </div>
  </div>
</div>
